h1 {
  font-weight: bold;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  text-align: left;
  background-color:black;
  color: cyan;
  
}
h2 {
  color: aliceblue;
  text-align: center;
  background-color:purple;
  font-style: italic;

}
h3 {
  text-decoration: underline;
  text-align: right;
  background-color: cornflowerblue;
  font-weight: lighter;
}